body {
  background-color: cadetblue;
  margin-top: 3%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} 

p{
  line-height:10px;
}

h3{
  background-color: rgb(207, 207, 207);
  width: 17px;
  line-height:5px;
}

/*canvas*/
#myCanvas{
  background-color: #ffffff;
  border-radius: 25px;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#menu1{
  display: flex;
  flex-direction: row;
}

#menu2{
  display: flex;
  flex-direction: row;
}

.iconbar{
  background-color: #B0E0E6;
  display: flex;
  flex-direction: column;
  outline: rgb(40, 114, 128) solid 5px;
  margin: 5px;
  padding: 5px;
}

.column{
  
  background-color: rgb(140, 195, 202);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icon_f{
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.button {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 40px;
  height: 40px;
  outline: none;
}

.button:hover{
  background-color:	#FFB366;
}

.button_s {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 40px;
  height: 40px;
  outline: none;
}

.button_s:hover{
  background-color:	#FFB366;
}

.button_s:focus{
  background-color:	#FFB366;
}

.button_c {
  background-color: white;
  border-radius: 10px;
  margin: 8px;
  padding: 8px;
  width: 40px;
  height: 40px;
  outline: none;
}

.content{
  margin: 0.5px;
  padding: 0.5px;
  align-self: center;
}

.content_f{
  margin: 1px;
  margin-top: 17px;
  padding: 0.5px;
  align-self: center;
}

.slide{
  width: 200px;
  height: 40px;
  margin-top: 20px;
}

.line{
  margin-left: 10px;
}

.end{
    background: rgb(204, 125, 46);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    outline: none;
}

.fontselector{
  align-content: center;
  margin: 5px;
  margin-top: 15px;
  padding: 5px;
  width: 75px;
  height: 40px;
}